@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --tw-sidenav-width: 100%;
  --tw-sidenav-width-md: 175px;
  --tw-sidenav-width-sm: 80px;
  --tw-sidenav-sm-height: 1500px;
  --tw-topbar-height: 70px;
  --tw-menu-item-padding-x: 15px;
  --tw-menu-item-gap: 5px;
  --tw-menu-link-padding-x: 15px;
  --tw-menu-link-padding-y: 10px;
  --tw-menu-link-item-gap: 10px;
  --tw-menu-item-icon-size: 20px;
  --tw-menu-item-font-size: 15px;
}

html[data-menu-color=light] {
  --tw-menu-bg: white;
  --tw-menu-item-color: rgb(108, 117, 125);
  --tw-menu-item-active-color: rgb(30, 133, 255);
  --tw-menu-item-active-bg: rgba(30, 133, 255, 0.1);
  --tw-menu-item-hover-color: rgb(30, 133, 255);
  --tw-menu-item-hover-bg: rgba(30, 133, 255, 0.1);
}

html[data-menu-color=dark],
html[data-mode=dark][data-menu-color=light] {
  --tw-menu-item-color: rgb(144, 151, 167);
  --tw-menu-item-active-color: rgb(200, 205, 220);
  --tw-menu-item-active-bg: rgba(30, 133, 255, 0.1);
  --tw-menu-item-hover-color: rgb(200, 205, 220);
  --tw-menu-item-hover-bg: rgba(30, 133, 255, 0.1);
}

html[data-menu-color=brand] {
  --tw-menu-item-color: rgb(206, 220, 228);
  --tw-menu-item-active-color: rgb(255, 255, 255);
  --tw-menu-item-active-bg: rgba(255, 255, 255, 0.1);
  --tw-menu-item-hover-color: rgb(255, 255, 255);
  --tw-menu-item-hover-bg: rgba(255, 255, 255, 0.1);
}

html[data-menu-color=gradient] {
  --tw-menu-bg: linear-gradient(135deg, #6379c3 0%, #546ee5 60%);
  --tw-menu-item-color: rgb(206, 220, 228);
  --tw-menu-item-active-color: rgb(255, 255, 255);
  --tw-menu-item-active-bg: rgba(255, 255, 255, 0.2);
  --tw-menu-item-hover-color: rgb(255, 255, 255);
  --tw-menu-item-hover-bg: rgba(255, 255, 255, 0.2);
}

html[data-topbar-color=light] {
  --tw-topbar-bg: rgb(255, 255, 255);
  --tw-topbar-item-color: rgb(108, 117, 125);
  --tw-topbar-item-active-bg: rgba(30, 133, 255, 0.2);
  --tw-topbar-item-active-color: rgb(30, 133, 255);
  --tw-topbar-item-hover-bg: rgba(30, 133, 255, 0.2);
  --tw-topbar-item-hover-color: rgb(30, 133, 255);
}

html[data-topbar-color=dark],
html[data-mode=dark][data-topbar-color=light] {
  --tw-topbar-bg: rgb(30, 41, 59);
  --tw-topbar-item-color: rgb(131, 145, 162);
  --tw-topbar-item-active-bg: rgb(70, 79, 91);
  --tw-topbar-item-active-color: rgb(188, 206, 228);
  --tw-topbar-item-hover-bg: rgb(70, 79, 91);
  --tw-topbar-item-hover-color: rgb(188, 206, 228);
}

html[data-topbar-color=brand] {
  --tw-topbar-item-color: rgba(255, 255, 255, 0.7);
  --tw-topbar-item-active-bg: rgba(255, 255, 255, 0.1);
  --tw-topbar-item-active-color: rgb(255, 255, 255);
  --tw-topbar-item-hover-bg: rgba(255, 255, 255, 0.1);
  --tw-topbar-item-hover-color: rgb(255, 255, 255);
}

html[data-topbar-color=gradient] {
  --tw-topbar-bg: linear-gradient(135deg, #6379c3 0%, #546ee5 60%);
  --tw-topbar-item-color: rgba(255, 255, 255, 0.7);
  --tw-topbar-item-active-bg: rgba(255, 255, 255, 0.1);
  --tw-topbar-item-active-color: rgb(255, 255, 255);
  --tw-topbar-item-hover-bg: rgba(255, 255, 255, 0.1);
  --tw-topbar-item-hover-color: rgb(255, 255, 255);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
.app-menu {
  width: var(--tw-sidenav-width);
  min-width: var(--tw-sidenav-width);
  background: var(--tw-menu-bg);
  @apply sticky top-0 h-screen z-40 shadow transition-all duration-300;
}
.app-menu .srcollbar {
  height: calc(100% - var(--tw-topbar-height));
  @apply border-t border-dashed border-gray-500/25;
}

.page-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-block-size: 100vh;
}

.logo-box {
  height: var(--tw-topbar-height);
  color: var(--tw-menu-item-color);
  @apply sticky top-0 flex items-center justify-center transition-all duration-300;
}
.logo-box .logo-lg {
  height: 24px;
}
.logo-box .logo-sm {
  height: 32px;
}
.logo-box .logo-sm {
  display: none;
}
.logo-box .logo-light {
  display: none;
}
.logo-box .logo-dark {
  display: block;
}

html[data-mode=dark] .app-menu .logo-box .logo-light,
html[data-menu-color=brand] .app-menu .logo-box .logo-light,
html[data-menu-color=dark] .app-menu .logo-box .logo-light,
html[data-menu-color=gradient] .app-menu .logo-box .logo-light {
  display: block;
}
html[data-mode=dark] .app-menu .logo-box .logo-dark,
html[data-menu-color=brand] .app-menu .logo-box .logo-dark,
html[data-menu-color=dark] .app-menu .logo-box .logo-dark,
html[data-menu-color=gradient] .app-menu .logo-box .logo-dark {
  display: none;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: var(--tw-menu-item-gap);
  padding: var(--tw-menu-item-gap) 0;
}
.menu .menu-title {
  color: var(--tw-menu-item-color);
  font-size: calc(var(--tw-menu-item-font-size) * 0.8);
  padding: var(--tw-menu-link-padding-y) calc(var(--tw-menu-link-padding-x) + var(--tw-menu-item-padding-x));
  @apply font-medium opacity-75 cursor-default tracking-widest whitespace-nowrap;
}
.menu > .menu-item {
  padding: 0 var(--tw-menu-item-padding-x);
}
.menu .menu-item .menu-link {
  color: var(--tw-menu-item-color);
  gap: var(--tw-menu-link-item-gap);
  padding: var(--tw-menu-link-padding-y) var(--tw-menu-link-padding-x);
  @apply relative flex items-center transition-all whitespace-nowrap rounded-lg bg-transparent;
}
.menu .menu-item .menu-link > .menu-icon {
  width: var(--tw-menu-item-icon-size);
  height: var(--tw-menu-item-icon-size);
  font-size: var(--tw-menu-item-icon-size);
  line-height: var(--tw-menu-item-icon-size);
  @apply transition-all;
}
.menu .menu-item .menu-link > .menu-icon svg {
  width: var(--tw-menu-item-icon-size);
  height: var(--tw-menu-item-icon-size);
  stroke: inherit;
}
.menu .menu-item .menu-link > .menu-text {
  font-size: var(--tw-menu-item-font-size);
  line-height: var(--tw-menu-item-font-size);
  @apply whitespace-nowrap transition-all;
}
.menu .menu-item .menu-link > .menu-arrow {
  font-size: var(--tw-menu-item-font-size);
  line-height: var(--tw-menu-item-font-size);
  font-family: "MingCute";
  @apply transition-all ms-auto rtl:rotate-180;
}
.menu .menu-item .menu-link > .menu-arrow::before {
  content: "\ef6b";
}
.menu .menu-item .menu-link > .badge {
  @apply flex justify-center items-center h-5 px-2 ms-auto font-semibold text-white text-center whitespace-nowrap align-baseline;
  font-size: calc(var(--tw-menu-item-font-size) * 0.8);
}
.menu .menu-item .menu-link:is(.open) > .menu-arrow {
  transform: rotate(90deg);
}
.menu .menu-item .menu-link:is(.open, .active, :active, :focus) {
  color: var(--tw-menu-item-active-color);
}
.menu .menu-item .menu-link:is(:hover) {
  color: var(--tw-menu-item-hover-color);
}
.menu > .menu-item > .menu-link:is(.open, .active, :active, :focus) {
  background-color: var(--tw-menu-item-active-bg);
}
.menu > .menu-item > .menu-link:is(:hover) {
  background-color: var(--tw-menu-item-hover-bg);
}
.menu .sub-menu {
  @apply w-full overflow-hidden transition-all duration-300;
  padding-inline-start: calc(var(--tw-menu-item-icon-size) + var(--tw-menu-link-item-gap));
}
.menu .sub-menu .menu-item:first-of-type {
  margin-top: calc(var(--tw-menu-link-padding-y) * 0.5);
}
.menu .sub-menu .menu-item:last-of-type {
  margin-bottom: calc(var(--tw-menu-link-padding-y) * 0.5);
}
.menu .sub-menu .sub-menu {
  padding-inline-start: calc(var(--tw-menu-item-icon-size));
}

.help-box {
  color: var(--tw-menu-item-color);
}

#button-hover-toggle {
  color: var(--tw-menu-item-color);
  @apply hidden items-center justify-center;
}

html[data-sidenav-view=hover] .app-menu:not(:hover) {
  width: var(--tw-sidenav-width-sm);
  min-width: var(--tw-sidenav-width-sm);
}
html[data-sidenav-view=hover] .app-menu:not(:hover) .logo-box .logo-lg {
  display: none;
}
html[data-sidenav-view=hover] .app-menu:not(:hover) .logo-box .logo-sm {
  display: flex;
}
html[data-sidenav-view=hover] .app-menu:not(:hover) #button-hover-toggle {
  display: none;
}
html[data-sidenav-view=hover] .app-menu:not(:hover) .menu-item .menu-link .menu-text,
html[data-sidenav-view=hover] .app-menu:not(:hover) .menu-item .menu-link .menu-arrow,
html[data-sidenav-view=hover] .app-menu:not(:hover) .menu-item .menu-link .badge {
  visibility: hidden;
}
html[data-sidenav-view=hover] .app-menu:not(:hover) .menu-item .sub-menu {
  visibility: hidden;
  height: 0 !important;
}
html[data-sidenav-view=hover] .app-menu:not(:hover) .menu-title {
  visibility: hidden;
  position: relative;
}
html[data-sidenav-view=hover] .app-menu:not(:hover) .menu-title::after {
  content: "";
  border-top: 1px solid var(--tw-menu-item-color);
  width: var(--tw-menu-item-icon-size);
  @apply visible absolute top-1/2 flex justify-center opacity-40 -translate-y-1/2 rounded-full;
}
html[data-sidenav-view=hover] .app-menu:not(:hover) .simplebar-track.simplebar-vertical {
  visibility: hidden !important;
}
html[data-sidenav-view=hover] .help-box {
  display: none;
}
html[data-sidenav-view=hover] .app-menu + .page-content {
  margin-inline-start: var(--tw-sidenav-width-sm);
  @apply transition-all ease-in-out duration-300;
}
html[data-sidenav-view=hover] .app-menu {
  position: fixed;
  bottom: 0;
}
html[data-sidenav-view=hover] .app-menu #button-hover-toggle {
  display: flex;
  @apply transition-all ease-in-out;
}
html[data-sidenav-view=hover] .app-menu .simplebar-track.simplebar-horizontal {
  visibility: hidden !important;
}
html[data-sidenav-view=hover] .app-header #button-toggle-menu {
  display: none;
}

html[data-sidenav-view=hover-active] .app-header #button-toggle-menu {
  @apply hidden;
}
html[data-sidenav-view=hover-active] .app-menu #button-hover-toggle {
  @apply flex items-center transition-all ease-in-out;
}
html[data-sidenav-view=hover-active] .app-menu #button-hover-toggle .mgc_round_line::before {
  content: "\f053";
}
html[data-sidenav-view=hover-active] .app-menu + .page-content {
  margin-inline-start: var(--tw-sidenav-width);
  @apply transition-all ease-in-out duration-300;
}
html[data-sidenav-view=hover-active] .app-menu {
  position: fixed;
  bottom: 0;
}

html[data-sidenav-view=sm] .app-menu {
  width: var(--tw-sidenav-width-sm);
  min-width: var(--tw-sidenav-width-sm);
  min-height: var(--tw-sidenav-sm-height);
  height: unset;
  position: static;
}
html[data-sidenav-view=sm] .app-menu .simplebar-mask,
html[data-sidenav-view=sm] .app-menu .simplebar-content-wrapper {
  overflow: visible !important;
}
html[data-sidenav-view=sm] .app-menu .logo-box {
  background: var(--tw-menu-bg);
  @apply z-40;
}
html[data-sidenav-view=sm] .app-menu .logo-box .logo-lg {
  display: none;
}
html[data-sidenav-view=sm] .app-menu .logo-box .logo-sm {
  display: flex;
}
html[data-sidenav-view=sm] .app-menu .menu {
  padding: var(--tw-menu-item-padding-x) 0;
}
html[data-sidenav-view=sm] .app-menu .menu .menu-title {
  display: none;
}
html[data-sidenav-view=sm] .app-menu .menu .menu-item {
  position: relative;
}
html[data-sidenav-view=sm] .app-menu .menu .menu-item > .menu-link {
  transition: none;
}
html[data-sidenav-view=sm] .app-menu .menu .menu-item > .menu-link > .menu-text,
html[data-sidenav-view=sm] .app-menu .menu .menu-item > .menu-link > .menu-arrow,
html[data-sidenav-view=sm] .app-menu .menu .menu-item > .menu-link > .badge {
  transition: none;
  display: none;
}
html[data-sidenav-view=sm] .app-menu .menu .menu-item .sub-menu {
  display: none;
  height: inherit !important;
}
html[data-sidenav-view=sm] .app-menu .menu .menu-item:hover > .sub-menu {
  display: block;
  inset-inline-start: 100%;
  overflow: visible;
  position: absolute;
  height: inherit !important;
  transition: none;
  padding-inline-start: 0;
  background: var(--tw-menu-bg);
  width: calc(var(--tw-sidenav-width) - var(--tw-sidenav-width-sm));
  @apply border border-solid border-gray-500/20;
}
html[data-sidenav-view=sm] .app-menu .menu .menu-item:hover > .sub-menu > .menu-item > .menu-link {
  z-index: 5;
}
html[data-sidenav-view=sm] .app-menu .menu .menu-item:hover > .sub-menu > .menu-item > .menu-link > .menu-arrow,
html[data-sidenav-view=sm] .app-menu .menu .menu-item:hover > .sub-menu > .menu-item > .menu-link > .menu-text {
  display: block;
}
html[data-sidenav-view=sm] .app-menu .menu .menu-item:hover > .sub-menu > .menu-item .sub-menu {
  top: 0;
}
html[data-sidenav-view=sm] .app-menu .menu > .menu-item > .menu-link {
  @apply flex text-center justify-center;
}
html[data-sidenav-view=sm] .app-menu .menu > .menu-item:hover > .menu-link {
  color: var(--tw-menu-item-hover-color);
  background-color: var(--tw-menu-item-hover-bg);
}
html[data-sidenav-view=sm] .app-menu .menu > .menu-item:hover > .menu-link::after {
  content: "";
  inset: 0;
  position: absolute;
  width: var(--tw-sidenav-width);
}
html[data-sidenav-view=sm] .app-menu .menu > .menu-item:hover > .menu-link > .menu-text {
  background: var(--tw-menu-bg);
  line-height: var(--tw-menu-item-icon-size);
  width: calc(var(--tw-sidenav-width) - var(--tw-sidenav-width-sm));
  padding: var(--tw-menu-link-padding-y) var(--tw-menu-link-padding-x);
  inset-inline-start: calc(var(--tw-sidenav-width-sm) - var(--tw-menu-item-padding-x));
  @apply absolute flex items-center border border-solid border-gray-500/20;
}
html[data-sidenav-view=sm] .app-menu .menu > .menu-item > .menu-link[data-fc-type=collapse] > .menu-text {
  @apply rounded-t-md;
}
html[data-sidenav-view=sm] .app-menu .menu > .menu-item > .menu-link:not([data-fc-type=collapse]) > .menu-text {
  @apply rounded-md;
}
html[data-sidenav-view=sm] .app-menu .menu > .menu-item > .sub-menu {
  @apply rounded-b-md;
}
html[data-sidenav-view=sm] .app-menu .menu > .menu-item > .sub-menu .sub-menu {
  @apply rounded-md;
}
html[data-sidenav-view=sm] .app-menu .menu > .menu-item > .menu-link > .menu-text,
html[data-sidenav-view=sm] .app-menu .menu > .menu-item .sub-menu {
  @apply ms-1.5 shadow-lg;
}
html[data-sidenav-view=sm] .app-menu .help-box {
  @apply hidden;
}

html[data-sidenav-view=md] .app-menu {
  width: var(--tw-sidenav-width-md);
  min-width: var(--tw-sidenav-width-md);
}
html[data-sidenav-view=md] .app-menu .menu .menu-title {
  @apply text-center underline decoration-dashed;
}
html[data-sidenav-view=md] .app-menu .menu .menu-link {
  @apply flex-col text-center;
}
html[data-sidenav-view=md] .app-menu .menu .menu-link .badge,
html[data-sidenav-view=md] .app-menu .menu .menu-link .menu-arrow {
  @apply hidden;
}
html[data-sidenav-view=md] .app-menu .menu .sub-menu {
  @apply ps-0;
}
html[data-sidenav-view=md] .app-menu .menu .sub-menu .menu-link .menu-arrow {
  @apply ms-0 block;
}
html[data-sidenav-view=md] .app-menu .menu .sub-menu .menu-text {
  @apply ps-0;
}
html[data-sidenav-view=md] .app-menu .help-box {
  @apply hidden;
}

html[data-sidenav-view=mobile] .app-menu {
  margin-inline-start: calc(var(--tw-sidenav-width) * -1);
  @apply fixed opacity-0;
}
html[data-sidenav-view=mobile].sidenav-enable .app-menu {
  margin-inline-start: 0;
  @apply opacity-100 z-50;
}

html[data-sidenav-view=hidden] .app-menu {
  margin-inline-start: calc(var(--tw-sidenav-width) * -1);
}

html[data-layout-width=boxed] .page-content > .flex-grow {
  @apply w-full mx-auto max-w-[1440px];
}

html[data-layout-position=scrollable] .logo-box,
html[data-layout-position=scrollable] .app-header {
  position: unset;
}
html[data-layout-position=scrollable]:not([data-sidenav-view=mobile]) .app-menu {
  position: unset;
  height: unset;
}
html[data-layout-position=scrollable][data-sidenav-view=hover] .app-menu, html[data-layout-position=scrollable][data-sidenav-view=hover-active] .app-menu {
  position: absolute;
  height: unset;
}

.app-header {
  @apply sticky top-0 shadow-sm;
  z-index: 35;
  background: var(--tw-topbar-bg);
  height: var(--tw-topbar-height);
}
.app-header .nav-link {
  color: var(--tw-topbar-item-color);
  @apply rounded-full bg-transparent transition-all ease-in-out;
}
.app-header .nav-link:hover {
  color: var(--tw-topbar-item-hover-color);
  background: var(--tw-topbar-item-hover-bg);
}
.app-header .nav-link:is(.open, .show, .active, :active, :focus) {
  color: var(--tw-topbar-item-active-color);
  background: var(--tw-topbar-item-active-bg);
}
.app-header .logo-box {
  @apply lg:hidden md:flex;
}
.app-header .logo-box .logo-lg {
  @apply lg:block hidden;
}
.app-header .logo-box .logo-sm {
  @apply lg:hidden block;
}

html[data-mode=dark] #light-dark-mode .mgc_moon_line::before {
  content: "\f069";
}

.fullscreen-enable .mgc_fullscreen_line::before {
  content: "\ece3";
}

html[data-sidenav-view=mobile] .app-header .logo-box {
  @apply flex;
}

html[data-mode=dark] .app-header .logo-box .logo-light,
html[data-menu-color=brand] .app-header .logo-box .logo-light,
html[data-menu-color=dark] .app-header .logo-box .logo-light,
html[data-menu-color=gradient] .app-header .logo-box .logo-light {
  display: block;
}
html[data-mode=dark] .app-header .logo-box .logo-dark,
html[data-menu-color=brand] .app-header .logo-box .logo-dark,
html[data-menu-color=dark] .app-header .logo-box .logo-dark,
html[data-menu-color=gradient] .app-header .logo-box .logo-dark {
  display: none;
}

html {
  position: relative;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  color: var(--tw-body-color);
  background-color: var(--tw-body-bg);
  font-family: var(--tw-body-font-family);
  -webkit-tap-highlight-color: transparent;
  @apply antialiased font-normal text-sm leading-normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-semibold;
}

code {
  @apply text-sky-500;
}

:root:is([data-mode=dark]) {
  color-scheme: dark;
}

.form-input,
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

@layer components {
  .btn {
    @apply inline-flex items-center justify-center text-center rounded border border-transparent px-4 py-2 text-sm transition-all font-medium;
  }
  .btn.btn-lg {
    @apply px-5 py-3 text-base;
  }
  .btn.btn-sm {
    @apply px-3.5 py-1.5 text-xs;
  }
}
@layer components {
  .card {
    @apply bg-white dark:bg-gray-800 shadow rounded-md h-fit;
  }
  .card .card-header {
    @apply py-3 px-6 border-b border-gray-200 dark:border-gray-700;
  }
  .card-title {
    @apply text-base font-medium text-slate-900 dark:text-slate-200;
  }
}
@layer components {
  label {
    @apply text-sm font-medium cursor-pointer text-gray-800 dark:text-gray-400;
  }
  .form-input,
  .form-select {
    @apply font-normal rounded block w-full border-gray-200 text-sm focus:border-gray-300
        focus:ring-0 bg-transparent dark:border-gray-700 dark:text-gray-400;
  }
  .form-input-sm,
  .form-select-sm {
    @apply py-1 ps-2 pe-8 text-xs;
  }
  .form-textarea {
    @apply font-normal rounded block w-full border-gray-200 text-sm focus:border-gray-300
        focus:ring-0 bg-transparent dark:border-gray-700 dark:text-gray-400;
  }
  .form-checkbox,
  .form-radio {
    @apply bg-inherit cursor-pointer border-gray-300 dark:border-gray-600 dark:checked:border-transparent focus:ring-0 focus:ring-offset-0;
  }
  .form-switch {
    @apply w-9 h-5 flex items-center appearance-none bg-gray-200 dark:bg-opacity-20 border-2 border-transparent
        rounded-full focus:ring-0 focus:ring-offset-0 cursor-pointer transition-colors ease-in-out duration-200 checked:bg-none;
  }
  .form-switch::before {
    @apply content-[""] inline-block w-4 h-4 bg-white rounded-full translate-x-0 transform transition ease-in-out checked:translate-x-full duration-200;
  }
  .form-switch.form-switch-lg {
    @apply w-11 h-6;
  }
  .form-switch.form-switch-lg::before {
    @apply w-5 h-5;
  }
  .form-switch.square {
    @apply rounded-none before:rounded-none;
  }
  .card-radio {
    @apply relative;
  }
  .card-radio .form-label {
    @apply border overflow-hidden text-ellipsis whitespace-nowrap flex flex-col cursor-pointer border-gray-200 dark:border-gray-700;
  }
  .card-radio .form-radio {
    @apply hidden;
  }
  .card-radio .form-radio:checked + .form-label {
    @apply border-primary text-primary;
  }
  .btn-radio .form-radio {
    @apply hidden;
  }
  .btn-radio .form-radio:checked + label {
    @apply bg-primary text-white;
  }
}
.text-help {
  @apply text-danger text-xs mt-1.5;
}

@media print {
  .app-menu,
  .app-header,
  .footer,
  [data-fc-target=theme-customization] {
    @apply hidden;
  }
  .page-content,
  .content,
  body {
    padding: 0;
    margin: 0;
  }
  .card {
    box-shadow: none;
  }
}
.icons-list-demo i {
  text-align: center;
  vertical-align: middle;
  font-size: 28px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 3px;
  display: inline-block;
  transition: all 0.2s;
}
.icons-list-demo svg {
  display: inline-flex;
}
.icons-list-demo span {
  display: inline-flex;
  user-select: all;
  @apply ms-4;
}

.kanban-board {
  position: relative;
}
.kanban-board:before {
  content: "No Tasks";
  position: absolute;
  display: flex;
  inset-inline-start: 50%;
  top: 0;
  transform: translate(-50%);
  min-height: 100px;
  justify-content: center;
  line-height: 110px;
  z-index: -10;
  text-align: center;
  font-weight: 600;
}

.custom-scroll::-webkit-scrollbar {
  -webkit-appearance: none;
}
.custom-scroll::-webkit-scrollbar:vertical {
  width: 4px;
}
.custom-scroll::-webkit-scrollbar:horizontal {
  height: 4px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-slate-300/50 dark:bg-slate-500/50;
}
.custom-scroll::-webkit-scrollbar-track {
  @apply bg-transparent rounded-lg;
}
.custom-scroll::-webkit-scrollbar-corner {
  @apply bg-transparent;
}

.filter-options li a {
  @apply border-light text-slate-900 dark:text-slate-200 dark:border-gray-700;
}

.filter-options li:hover a,
.filter-options li.active a,
.filter-options li:active a,
.filter-options li:focus a {
  @apply bg-primary text-white border-transparent shadow-primary/50;
}

/*# sourceMappingURL=app.css.map */
