// Custom Variables
@import "config/variables";
@import "config/theme-config";

@tailwind base;
@tailwind components;
@tailwind utilities;

// Structure
@import "structure/sidenav";
@import "structure/topbar";

// Components
@import "components/reboot";
@import "components/buttons";
@import "components/card";
@import "components/forms";
@import "components/print";
@import "components/helper";

// Plugins (Extended UI Components) 
@import "plugins/simplebar";
@import "plugins/prismjs";
@import "plugins/tour";
@import "plugins/glightbox";
@import "plugins/tippy-tooltip";

// Advanced Form Plugins
@import "plugins/dropzone";
@import "plugins/range-slider";
@import "plugins/flatpicker";
@import "plugins/colorpicker";
@import "plugins/choices";

// Data Table
@import "plugins/gridjs";

// App Pages Plugins
@import "plugins/fullcalendar";